
.coming-soon-container {
    padding: 20px;
    background-color: black; 
    color: #ccc; 
    margin-top: 20px;
    border-radius: 8px; 
  }
  
  .coming-soon-container h2 {
    color: #eee;
    margin-bottom: 15px;
    text-align: left; 
  }
  
  .coming-soon-grid {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
  }
  
  .coming-soon-card {
    background-color: black; 
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    width: auto; 
  }
  
  .coming-soon-card img {
    width: 150px; 
    height: auto;
    opacity: 1; 
    filter: grayscale(0%); 
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .coming-soon-card p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
    color: #999;
  }
  
  @media (max-width: 700px) {
    .coming-soon-grid {
      justify-content: flex-start;
    }
    .coming-soon-card {
      width: auto;
    }
    .coming-soon-card img {
      width: 120px;
    }
  }
  
  @media (max-width: 400px) {
    .coming-soon-card img {
      width: 100px;
    }
  }